{% extends 'base.html' %}

{% block title %}
    Cadastrar Anuncio
{% endblock title %}

{% block page %}
{% endblock page %}

{% block content %}
    <hr>
    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                    <h4 class="m-0 font-weight-bold text-primary">Novo Anuncio</h4>
                </div>
                <div class="p-5">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.name|title }} {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post" class="user" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control" name="nome"
                                       required
                                       value="{{ nome }}" placeholder="Nome">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" step="0.01" id="id_preco" class="form-control"
                                       name="preco" required
                                       value="{{ preco }}" placeholder="Preço">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control" name="localizacao" id="id_localizacao"
                                       required value="{{ localizacao }}" placeholder="Localização(CEP)" maxlength="8"
                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" id="id_categoria" name="fk_categoria"
                                        required>
                                    <option value="" selected="" disabled>Categoria</option>
                                    {% for categoria in TipoCategoria %}
                                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <textarea id="descricao" class="form-control" name="descricao" placeholder="Descrição"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <!-- INPUT FILE -->
                                <div class="image-container__box" id="box">
                                    <input type="file"  class="box__field" name="imagem" id="file" accept=".jpg, .jpeg, .png"
                                           multiple=""><br>
                                    <span class="isvg loaded box__icon">
                                    <svg width="35" height="30" viewBox="0 0 35 30" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.502 3.4h5.11L12.02.09h10.222l3.407 3.31h5.111c1.882 0 3.408 1.481 3.408 3.309v19.856c0 1.828-1.526 3.31-3.408 3.31H3.502c-1.882 0-3.408-1.482-3.408-3.31V6.709c0-1.828 1.526-3.31 3.408-3.31zM17.13 8.364c-4.705 0-8.518 3.704-8.518 8.273 0 4.57 3.813 8.273 8.518 8.273 4.704 0 8.518-3.704 8.518-8.273 0-4.57-3.814-8.273-8.518-8.273zm0 3.309c2.823 0 5.11 2.222 5.11 4.964 0 2.741-2.287 4.964-5.11 4.964-2.823 0-5.111-2.223-5.111-4.964 0-2.742 2.288-4.964 5.11-4.964z"
                                          fill="#4e18cc" fill-rule="evenodd"></path></svg></span><br>
                                    <span class="box__main-text">Adicionar foto</span><br>
                                    <span class="box__info-text" id="name_ft">Escolha a foto do seu anuncio</span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="fk_usuario" value="{{ user.id }}">
                        <input type="hidden" name="fk_status" value="1">
                        <div class="d-flex justify-content-center">
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary btn-user btn-block">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
        let box = document.getElementById('box');
        let file = document.getElementById('file');
        let div = document.getElementById('name_ft');

        box.addEventListener('click', () =>{
            if (file.files.length <= 1){
                file.click();
            }
        });

        file.addEventListener("change", function(){
            var nome = "Não há arquivo selecionado. Selecionar arquivo...";
            if(file.files.length > 0) nome = file.files[0].name;
            div.innerHTML = nome;
        });
    </script>
{% endblock js %}