{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    Detalhes
{% endblock title %}

{% block content %}
    <!--Main layout-->
    <main class="mt-4 pt-4">
        <div class="container dark-grey-text mt-3 mb-5">
            <div class="card">
                <!--Grid row-->
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <div class="d-flex float-right mr-4 mt-2">
                            <img src="{{ anuncio.imagem|thumbnail_url:'anuncios' }}"
                                 class="img-fluid" alt="">
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!--Content-->
                        <div class="p-4">

                            <div class="mb-3">
                                <a href="">
                                    <span class="badge badge-success mr-1">{{ object.fk_categoria.nome }}</span>
                                </a>
                            </div>

                            <p class="lead">
              <span class="mr-1">
                 {{ object.preco }}
              </span>
                            </p>
                            <p class="lead font-weight-bold">Descrição</p>

                            <p>{{ object.descricao }}</p>
                            <p>
                                <b>Localização: </b> {{ object.localizacao }} {{ endereco_cid }} {{ endereco_uf }}
                            </p>
                            <p>
                                <b>Anunciado
                                    por:</b> {{ object.fk_usuario.first_name }} {{ object.fk_usuario.last_name }}
                            </p>
                            {% if request.user.is_authenticated %}
                                <p>
                                    <b>Email:</b> {{ object.fk_usuario }}
                                </p>
                                <p>
                                    <b>Contato:</b> {{ object.fk_usuario.celular }}
                                </p>
                            {% else %}
                                <p><span class="badge badge-secondary">Faça <a href="{% url 'login' %}" style="color: blue">login</a> para obter mais detalhes.</span></p>
                            {% endif %}

                            {% if not request.user.is_authenticated %}
                                <div class="d-flex float-left">
                                    <a href="{% url 'login' %}" type="button" class="btn">
                                        <i class="fa-lg fa fa-heart"></i>
                                    </a>
                                </div>
                                <div class="d-flex float-left">
                                    <a style="border-radius: 20px;" type="button" href="{% url 'login' %}" target="_blank"
                                       class="btn btn-user btn-info">
                                        <i class="fa-lg far fa-comments"></i>
                                        <span class="ml-1">Conversar com o vendedor</span></a>
                                </div>
                            {% elif user.id != object.fk_usuario.id %}

                                <div class="d-flex float-left">
                                {% if anuncio.id in favoritos %}
                                    <a href="{% url 'del_favorito' anuncio.id %}" type="button" class="btn">
                                        <i style="color: red;" class="fa-lg fa fa-heart"></i>
                                    </a>
                                {% else %}
                                    <form action="{% url 'add_favorito' %}" class="p-0"
                                          method='POST'>
                                        {% csrf_token %}
                                        <input type='hidden' id="fk_anuncio" name='fk_anuncio'
                                               value="{{ anuncio.id }}">
                                        <input type='hidden' id="fk_usuario" name='fk_usuario'
                                               value="{{ user.id }}">
                                        <button class="btn tool p-0" type="submit"
                                                title="Favoritar">
                                            <i class="fa-lg mr-2 fa-lg fa fa-heart tool"></i>
                                        </button>
                                    </form>
                                {% endif %}
                                </div>
                                <div class="d-flex float-left">
                                    <a style="border-radius: 20px;" type="button" target="_blank" href="https://api.whatsapp.com/send?phone=55{{ anuncio.fk_usuario.celular }}"
                                       class="btn btn-user btn-info">
                                        <i class="fa-lg far fa-comments"></i>
                                        <span class="ml-1">Conversar com o vendedor</span></a>
                                </div>
                            {% else %}
                                <div class="d-flex float-left">
                                <button title="Favoritar" type="button" class="btn tool"
                                   data-placement="bottom" disabled>
                                    <i class="fa-lg far fa-heart"></i>
                                </button>
                                </div>
                                <div class="d-flex float-left">
                                    <button style="border-radius: 20px;" type="button"
                                       class="btn btn-user btn-info" disabled>
                                        <i class="fa-lg far fa-comments"></i>
                                        <span class="ml-1">Conversar com o vendedor</span></button>
                                </div>
                            {% endif %}

                        </div>
                        <!--Content-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>

        </div>
    </main>

{% endblock content %}

{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".tool").tooltip();
        });
    </script>

{% endblock js %}