{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    Anuncios
{% endblock title %}

{% block content %}
    <hr>
    <!-- Content Row -->
    {% csrf_token %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3 mb-5">
                <h4 class="m-0 font-weight-bold text-primary ">Anuncios
                    <a href="{% url 'anuncio_cadastro' %}" class="d-flex float-right btn btn-success">
                        <i class="fa fa-plus">
                            <span class="ml-1 cor_nav">Novo Anuncio</span>
                        </i>

                    </a>
                </h4>
            </div>
            <main>
                <div class="container">
                    <!--Section: Products v.3-->
                    <section class="text-center mb-4">

                        <!--Grid row-->
                        <div class="row wow fadeIn">

                            {% for anuncio in anuncio_list %}
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="{% url 'anuncio_details' anuncio.id %}"
                                       style="text-decoration:none; color:black;">
                                        <div class="card">
                                            <div class="view overlay">
                                                <img src="{{ anuncio.imagem|thumbnail_url:'anuncios' }}"
                                                     class="card-img-top" alt="">
                                            </div>
                                            <div class="card-body text-center">
                                                <h5>{{ anuncio.nome }}</h5>
                                                <h4 class="font-weight-bold blue-text">
                                                    <strong>R${{ anuncio.preco }}</strong>
                                                </h4>
                                                {% if anuncio.fk_status.id == 1 %}
                                                    <small class="badge badge-success mr-1">{{ anuncio.fk_status }}</small>
                                                {% elif anuncio.fk_status.id == 2 %}
                                                    <small class="badge badge-warning mr-1">{{ anuncio.fk_status }}</small>
                                                {% else %}
                                                    <small class="badge badge-danger mr-1">{{ anuncio.fk_status }}</small>
                                                {% endif %}
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex float-left">
                                                    <a href="{% url 'anuncio_editar' anuncio.id %}" type="button"
                                                       class="btn btn-outline-primary">Editar</a>
                                                </div>
                                                <div class="d-flex float-right">
                                                    <a href="{% url 'anuncio_delete' anuncio.id %}" type="button"
                                                       class="btn btn-outline-danger">Excluir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </section>

                </div>
            </main>
        </div>
    </div>
{% endblock content %}