{% extends 'base.html' %}

{% block title %}
    Produtos
{% endblock title %}

{% block page %}
    <h3 style="margin-top: .8rem;">Estoque de Produtos</h3>
    <a class="btn btn-primary m-3"
       onclick="javascript:history.back();">
        <i class="fas fa-arrow-left"></i>
        <span>Voltar</span>
    </a>
{% endblock page %}

{% block content %}
    <hr>
    <!-- Content Row -->
    {% csrf_token %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary ">Produtos
                    <a href="{% url 'produto_cadastro' %}" class="d-flex float-right btn btn-success">Novo Produto</a>
                </h4>
            </div>
            <div class="layout-margin-8 mt-4">
                <div class="card-deck">
                    {% for produto in produto_list %}
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-sm-stretch flex-column">
                            <div class="card d-flex flex-fill mb-5"
                                 style="width:310px !important; border: 1px solid gray">
                                {% if produto.imagem %}
                                    <img class="card-img-top pr-0 mr-0" src="{{ produto.imagem.url }}"
                                         style="width:300px !important;height:450px !important;">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ produto.nome }}</h5>
                                    <p class="card-text">{{ produto.descricao }}</p>
                                    <h5 class="card-text"><b>R${{ produto.preco }}</b></h5><br>
                                    <p>
                                        <a href="{% url 'produto_editar' produto.id %}" class="d-flex float-right btn btn-primary">Editar</a>
                                        <a href="{% url 'produto_delete' produto.id %}" class="d-flex float-left btn btn-danger">Excluir</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock content %}